{% extends "father.html" %}

{% block title %}Consulta{% endblock %}

{% block body %}
<center> 
     <h1>Consulta de Productos</h1>
</center>

    {%for producto in productos%} 
         <h2>{{ producto }}</h2> -->
    {% endfor%}
    
<!-- <table class="table">
    <thead style="text-align: center;">
        <tr>
            <th>Identificador</th>
            <th>Descripción</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.descripcion }}</td>
            <td>${{ producto.precio }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table> -->
{% endblock body %}